#leftForm {
	float: left;
	width: 50%;
}
#leftinside {
    height: 100%;
    width: 50%;
    float: left
}

#leftinside > div{
    width: 100%;
    height: 100%;
    background-image: url('../assets/thelogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#leftForm > span, #rightForm > span {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 2rem;
}

#rightForm {
	float: right;
	width: 50%;
}

#rightForm, #leftForm {
	overflow: hidden;
}

#outsideForm {
	height: auto;
	color: #fff;
}

/* PRICE INPUT */
.outsideInput {
	height: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	outline: none;
	width: 70%;
	padding: 0 5px;
}

/* FORM DESCRIPTIONS */ 
.outsideFormDesc {
	line-height: 30px;
	margin-top: 15px;
	font-weight: 800;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

/* SUBMIT BUTTON FOR REGISTER NEW REQUESTS */
.registerSubmitOutside {
	width: 50%;
	height: 35px;
	color: orange;
	border: none;
	border: 3px solid orange;
	font-size: 1rem;
	margin: 10px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;
}

.registerSubmitOutside:hover {
	background-color: orange;
	cursor: pointer;
	color: #fff;
}

/* INPUT FIELDS AND SELECT */
.theSelectOutside {
	height: 27px;
	font-family:  'Oswald', sans-serif;
	font-size: 1rem;
	width: 73%;
	border-radius: 3px;
	outline: none;
}
.readFont{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: black;
}
#emptySpaceOutside{
height: 100px;
}

#country_list_id *{
color: black;
font-family: 'Oswald', sans-serif;
font-weight: normal;
}

@media screen and (max-width: 750px) {
    #rightForm {
        display:none;
    }
	#leftForm {
	width: 100%;
	}
	#rightReq{
		display: none;
	}
	#leftReq{
		width: 100%;
		min-height: 300px;
	}
	.regRequests{
		width: 80% !important;
	}
	.outsideInput{
		width: 89%;
	}
	
	.registerSubmitOutside{
		width: 50%;
	}
	.theSelectOutside {
		width: 93%;
	}
	
}


/*Display matches*/

.match {
	min-height: 250px;
	width: 100%;
	margin: 5px 0px;
	height: auto;
	color: orange;
	font-family: 'Oswald', sans-serif;
	
	border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    border-bottom-color: #F3F3F3;
}

#dispMatches {
	height: auto;
	margin: 0px 0px 15px 0px;
}

.dispMatches {
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.30);
	border-top: 4px solid orange;
}

.dispContacts{
	border-top: 4px solid orange;
}

.dispMatch {
	height: auto;
	width: 100%;
	background-color: #F3F3F3;
}

.dispMatch > span {
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	margin-left: 15px;
}

.matchCol {
	float: left;
	width: 100%;
}

.d_m_Img{
	width: 40%;
	height: 100%;
	float: left;
}
.d_m_Info {
	width: 60%;
	height: 100%;
	float: left;
}

.d_m_Info {
	color: #000;
}

.d_m_Img {
	background-image: url('../assets/1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 250px;
	position: relative;
	text-align: center;
	line-height: 40px;
}

.d_m_Title {
	position: absolute;
	height: auto;
	background-color: #000;
	opacity: 0.8;
	bottom: 0;
	width: 100%;
	color: #fff;
	z-index: 6;
}

.d_m_Matches {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: #eee;
	opacity: 0;
	display: block;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.d_m_Matches > span {
	line-height: 200px;
}

.d_m_showMatches {
	opacity: 0.85;
}

.d_m_Button{
	background-color: transparent;
	color: orange;
	border: 2px solid orange;
	margin: 0px 0px 0px 5px;
	height: 50px;
	width: 90%;
	font-size: 1rem;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}


.d_m_Button:hover {
	background-color: orange;
	color: white;
}

.d_m_Info li {
	margin: 5px;
	font-size: 1rem;
}

.d_m_sixty {
	width: 60%;
	margin: 0 auto !important;
	min-height: 300px;
}

@media screen and (max-width: 700px) {
	.d_m_Img{
		width: 93%;
		margin: 5px;
		float: initial;
	}
	.d_m_Info {
		width: 100%;

		float: initial;
	}
	.d_m_sixty{
		width: 95%;
	}

}

.theSelectAmend{
	height: 25px;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	width: 52%;
	border-radius: 3px;
	outline: none;
}

.textareaAmend{
width: 50%;
height: 160px;
}

.formDescAmend{
	line-height: 25px;
	margin-top: 15px;
	/*font-weight: 800;*/
	font-family: 'Oswald', sans-serif;
}

.priceInputAmend{
height: 25px;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	outline: none;
	width: 50%;
	padding: 0 5px;
}

.amendCenterForm{
	min-height: 250px;
	width: 95%;
	margin: 0 auto;
	height: auto;
	color: black;
	font-family: 'Oswald', sans-serif;
	
	border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    border-bottom-color: #F3F3F3;
}

@media screen and (max-width: 450px) {
	.textareaAmend{
		width: 70%
	}
	.priceInputAmend {
		width: 70%;

	}
	.theSelectAmend{
		width: 73%;
	}

}

/*show details*/

.details_match{
	min-height: 250px;
	width: 100%;
	margin: 5px 0px;
	height: auto;
	color: black;
	font-family: 'Oswald', sans-serif;
	
	border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    border-bottom-color: #F3F3F3;
}

.details_Img{
	
	background-repeat: no-repeat;

	background-size: contain;
	width: 40%;
	position: relative;

	line-height: 40px;
	float: left;

}
.underCont{
width: 100%;
display: inline-block;
margin-bottom: 15px;
}



.details_img_theimage{
width: 100%;
}

.details_Matches {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: #eee;
	opacity: 0;
	display: block;
	
	transition: all 0.2s ease-in-out;
}

.details_Matches > span {
	line-height: 200px;
}

.right2nd{
	width:60%;
	float:right;
}

.left2nd{
	width:40%;
	float: left;
	text-align: center;
    padding-top: 15px;
	display: initial;
}

.display_Info{
    width: 60%;
    /* margin-left: 5px; */
    float: right;
}
.smallPaymButton{
	display: none;
	text-align: center;		
}

.aboutWrap{
	width: 1010px;
	margin: 0 auto;
	margin-bottom: 20px;
}


.input[type="button"]:disabled:hover{
    color:#000;
}


.display_Info li {
	margin: 5px;
	font-size: 1rem;
	margin-bottom: 17px;
}

.detailsField{
margin-left:5px;
margin-bottom: 15px;
}

.registerSubmitPing {
	width: 66px;
	height: 40px;
	color: orange;
	border: none;
	border: 3px solid orange;
	font-size: 1rem;
	margin: 5px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;
	border-radius: 10px;
}

.registerSubmitPing:hover {
	background-color: orange;
	cursor: pointer;
	color: #fff;
}

.pendReply{
	width: 112px;
	height: 40px;
	color: red;
	border: none;
	border: 3px solid #e50000;
	font-size: 1rem;
	margin: 5px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;
	border-radius: 10px;
	margin-left: 15px;
}

.pingedBack{
	width: 112px;
	height: 40px;
	color: #003300;
	border: none;
	border: 3px solid #00b200;
	font-size: 1rem;
	margin: 5px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;
	border-radius: 10px;
	margin-left: 15px;
}

.undercontOne{
	margin-left: 5px;
	margin-bottom: 10px;
}

.undercontTwo{
	margin-left: 5px;
}

.registerSubmitQuestion {
	width: 148px;
	height: 40px;
	color: orange;
	border: none;
	border: 3px solid orange;
	font-size: 1rem;
	margin: 5px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;

}

.registerSubmitQuestion:hover {
	background-color: orange;
	cursor: pointer;
	color: #fff;
}

.bottomImg{
	text-align: center;
	background-image: url('../assets/formbg.png');
    background-repeat: repeat;
}

.bottomTheImg{
	width: 60%;
    height: 100%;
}

/*change contact details*/
.contactLeft{
    width: 50%;
    height: 100%;
    float: left;
	margin-bottom: 20px;
}

.contactRight{
	width: 50%;
    float: right;
	    margin-bottom: 200px;
}

.contactDetWrap{
    width: 60%;
    margin: 0 auto !important;
	font-family: "Oswald", sans-serif;
	 border-top: 4px solid orange;
}

.contDetDispValue{
	font-size: 19px;
    margin-left: 7px;

}

.contDetHeader{
text-align:center; 
color: #ffac14; 
font-size: 2rem; 
margin-bottom: 30px; 
font-family: "Oswald", sans-serif;
}

.journalContentContainer{
padding-left: 15px;
font-family: 'Open Sans', sans-serif;
}


/**How it works*/
.HWwrap{

	width: 80%;
	margin:0 auto;
	display: block;
	overflow: hidden;
	
	
}

.HWheader{
	border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #ddd;
	padding-bottom: 30px;
    font-size: 20px;
	color: #f4d33f;
}

.HWleft{
	width: 50%;
	float:left;
}

.HWright{
	width: 50%;
	float:right;
}

.HWicon{
	background-repeat: no-repeat;
	height: 110px;
	padding-top: 30px;
    background-position-y: 30px;
}

.HWiconText{
	padding-left: 77px;
	padding-right: 30px;
	font-size: 13px;
}

.HWiconheader{
	font-size:19px;
}

.HWicon:hover{
background-color: #fbf1c1;
cursor: pointer;
border-radius: 5px;
}

.HWhide{
display:none;

}

.HWinfo{
	font-size: 13px;
    padding-left: 77px;
    padding-right: 20px;
	padding-top: 5px;
}

@media screen and (max-width: 700px){
	.HWicon{
		height: 131px;
	}
	.HWwrap{

		width: 98%;	
	}

	.HWleft{
		width: 100%;
		float:initial;
	}

	.HWright{
		width: 100%;
		float:initial;
	}

	.details_Img {
		width: 93%;
		margin: 5px;
		float: initial;
	}
	
	.right2nd{
		width:100%;
		display: inline-block;
	}
	.left2nd{
		width:100%;
		display: inline-block;
	}
	
	.display_Info{
    width: 100%;
    /* margin-left: 5px; */
    float: initial;
	}
	
	.left2nd{
		display: none;
	}
	
	.smallPaymButton{
		display: initial;
	}
	
	.aboutWrap{
		width: 98%;
		margin: 0 auto;
		
	}
	
	.contactRight{
		width: 100%;
		float: initial;
	}
	
	.contactLeft{
		width: 100%%;
		
		float: initial;
	}
	
	.contactDetWrap{
		width: 98%;
		margin: 0 auto !important;
	}
	
	.journalContentContainer{
		padding-left: 0px;
	}
	
	.eighty {
		width: 98%;
	}
}

.readFontHeader{

    font-family: 'Oswald', sans-serif;
	color: #ffac14; 
	font-size: 2rem;
}

#navWrapperExt{
	width: 90%;
	margin: 0 auto;

}
@media screen and (max-width: 1000px){
	#navWrapperExt {
		width: 100%;
	}
}

.smallblock{
line-height: 50px;
}

.enqHeader{
	color: orange;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 30px;
	font-family: 'Oswald', sans-serif;
}

.journalLink{
color:orange;
}

.buttonJournal{
	width: 77px;
	height: 38px;
	color: orange;
	border: none;
	border: 3px solid orange;
	font-size: 1rem;
	margin: 5px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;
	border-radius: 10px;
	margin-right:15px;

}

.buttonJournal:hover {
	background-color: orange;
	cursor: pointer;
	color: #fff;
}


.buttonJournalLink{
	width: 90px;
	height: 40px;
	color: orange;
	border: none;
	/*border: 3px solid orange;*/
	font-size: 1rem;
	margin: 5px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;

}

.buttonJournalLink:hover {
	background-color: orange;
	cursor: pointer;
	color: #fff;
}

.journalSpan{
	margin-right: 15px;
}

.journalDiv{
	margin-bottom:2px;
}

.ownBuzzes{
margin-bottom: 20px;
}

.jCont{
	min-height: 250px;
	width: 100%;
	margin: 5px 0px;
	height: auto;
	color: black;
	font-family: 'Oswald', sans-serif;
	
	
}

.journalSections{
	border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 25px;
   border-bottom-color: #ddd;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
}

.questCont{
margin-bottom: 25px;

}

.questContMyQs{
margin-bottom: 50px;

}

.registerSubmitJourn {
	width: 114px;
	height: 33px;
	color: orange;
	border: none;
	border: 3px solid orange;
	font-size: 1rem;
	margin: 5px 0;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	font-family: 'Oswald', sans-serif;
	outline: none;

}

.registerSubmitJourn:hover {
	background-color: orange;
	cursor: pointer;
	color: #fff;
}

.smallQCont{
margin-bottom: 10px;

}

.registerSubmitPing[title]:hover:after {
 max-width: 40px;
  
}


.deleteOfferReq {
	background-color: transparent;
	color: orange;
	border: 2px solid orange;
	margin: 0px 0px 0px 1px;
	height: 50px;
	width: 47%;
	font-size: 1rem;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}


.deleteOfferReq:hover {
	background-color: orange;
	color: white;
}



.editOfferReq {
	background-color: transparent;
	color: orange;
	border: 2px solid orange;
	margin: 0px 0px 0px 1px;
	height: 50px;
	width: 47%;
	font-size: 1rem;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}


.editOfferReq:hover {
	background-color: orange;
	color: white;
}

.deleteWrap{
	width: 90%;
	margin: 0 auto;
	text-align:center;
	font-family: 'Oswald', sans-serif;

}

.prevalWrap{
	width: 90%;
	margin: 0 auto;
	text-align:center;
	font-family: 'Oswald', sans-serif;
}

.prevalUpper{
	background-repeat: no-repeat;
	height: 75px;
	padding-top: 30px;
    background-position-y: 30px;
}

.prevalMatchCont{
    margin-bottom: 40px;
    padding-top: 10px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding-bottom: 25px;


}

.prevalLineCont{
margin-bottom: 5px;

}

.lineContHead{
	font-weight: bold;
}

.showComForm{
 display: initial;
}

.hideComForm{
  display: none;
}

.prevalHeader {
    height: auto;
    width: 100%;
    background-color: #F3F3F3;
    border-top: 4px solid orange;
}

.prevHeadText{
color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-left: 15px;

}

.prevContWrap{
padding-left:15px;
}

/**Login form*/

.loginForm {
	margin: 0 auto;
	height: auto;
	padding: 15px;
	box-sizing: border-box;
	background-color: orange;
}

.loginForm > input {
	width: 100%;
	height: 40px;
	border: none;
	padding-left: 10px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif !important;
}

.loginForm > span {
	color: #fff;
	font-family: 'Raleway', sans-serif !important;
	font-size: 0.85rem;
	display: block;
	margin: 5px 0px;
}

.loginForm > span:last-of-type {
	margin-top: 15px;
}

.loginForm >  button,
.createDesc > button {
	height: 40px;
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
	text-align: center;
	width: 200px;
	margin-top: 15px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.loginForm > button:hover,
.createDesc > button:hover {
	background-color: #fff;
	color: orange;
}

.createDescButton {
	height: 30px;
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
	text-align: center;
	width: 200px;
	margin-top: 15px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	padding-top: 10px
}

.createDescButton:hover {
	background-color: #fff;
	color: orange;
}
#footerWrapper{
text-align: center;
}

@media screen and (max-width: 1200px){
#login, #create {
    width: 97% !important;
}