<!-- THE FOOTER -->
   <footer style="margin-top: 200px">
      <div class="eighty sixty" id="footerWrapper">
         <!-- GIVES A WIDTH OF 80% or 60% -->
   <!--       <div class="footerList">
            <ul>
               <li><a class="listHeader" href="">Lucky Lookers</a></li>
               <li><a href="">Tincidunt</a></li>
               <li><a href="">Sollicitudin</a></li>
               <li><a href="">Mauris Pharetra</a></li>
               <li><a href="">Suspendisse Accumsan</a></li>
               <li><a href="">Hendrerit Ipsum</a></li>
               <li><a href="">Molestie</a></li>
               <li><a href="">Libero Commodo</a></li>
               <li><a href="">Elementum Dignissim</a></li>
               <li><a href="">Consequat</a></li>
            </ul>
         </div>
         <div class="footerList">
            <ul>
               <li><a class="listHeader" href="">Boring links</a></li>
               <li><a href="">Terms of Use</a></li>
               <li><a href="">Privacy Policy</a></li>
               <li><a href="">Partner With Us</a></li>
               <li><a href="">Abuse Desk</a></li>
               <li><a href="">Contact Us</a></li>
            </ul>
            <ul class="secondList">
               <li><a class="listHeader socialMedia" href="">Social Media</a></li>
               <li><a href="">Facebook</a></li>
               <li><a href="">Twitter</a></li>
               <li><a href="">Instagram</a></li>
               <li><a href="">LinkedIn</a></li>
            </ul>
         </div>
         <div class="footerList">
            <ul>
               <li><a class="listHeader" href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
            </ul>
         </div>
         <div class="footerList">
            <ul>
               <li><a class="listHeader" href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
            </ul>
            <ul class="secondList" id="lastFooterList">
               <li><a class="listHeader" href="">Partners</a></li>
               <li><a href="">Lucky Lookers</a></li>
               <li><a href="">Lucky Lookers</a></li>
            </ul>
         </div>
         <div class="footerList">
         </div> -->
        <!--  <br class="clearIt"> -->
         <div id="copyRight">
            <p> &copy; S&amp;G Innovation LTD  Registration Number 9533002. All Rights Reserved.</p>
            <p>LuckyLookers - The ideal way to sell and buy</p>
         </div>
      </div>
   </footer>

   <script>
      $('.handle').on('click', function(){
            $('#mainNav').toggleClass('showing');
      });
   </script>
</body>
</html>
